# Configuração do Banco de Dados (PostgreSQL)
# Exemplo local: postgresql://user:password@localhost:5432/dbname
# Exemplo produção (EasyPanel): postgres://user:password@host:5432/dbname
DATABASE_URL="postgres://usuario:senha@host:5432/banco"

# Porta do Servidor
PORT=3000
